body{
 margin:10px 550px 10px 550px;
}
#logo{
	float:left;
	width:200px;
}
#menu{
	float:left;
	margin:5px;
	height:80px;
	width:70%;
	text-align:center;
}
#menu p {
	line-height:5px;
}
a{
	text-decoration:none;
	margin:0px 15px 0px 15px;
}

a:hover{
	color:red;
	font-size:20px;
}


#header{	
	height:100px;
	border:1px solid black;	
	border-radius:15px;
}
img{
	height:80px;
	width:150px;
	border:1px solid green;
	border-radius:5px;
	margin:9px;
}

div h1{
	color:blue;	
	text-align:center;	
	border:1px solid green;
	height:50px;
	padding:2px;
	border-radius:3px;
}
fieldset{
	border-radius:5px;
}
input{
		border-radius:3px;
}

table{
	
	margin:0 auto;
	border-spacing: 8px ;
	
}
input[type=text], [type=password]{
	width:300px;
}


strong{
	font-size:20px;
}
/*
.option{
	display:none;
}*/

#info1,#info2{
	color:red;
}

#authority,#authorityPg,#authorityGrad,#state,#branch{
	display:none;
}

hr{
 border:2px solid lightblue;
 width: 75%;
}
